<%= render "shared/header" %>
<div class="items-sell-contents">
  <header class="items-sell-header">
　　  <div class="contents row">
  　　  <div class="success">
    　　  <h3 class="sakujo">削除が完了しました。</h3>
    　　  <a class="sakujo-btn" href="/">メインメニューへ戻る</a>
  　　  </div>
　　  </div>
  </div>
</div>

<%= render "shared/footer" %>